.font-style {
  font-style: italic;
}

.font-weight {
  font-weight: bold;
}

.font-size {
  font-size: 24px;
}

.font-family {
  font-family: arial;
}

.line-height {
  line-height: 30px;
}

.letter-spacing {
  letter-spacing: 1px;
}

.text-align {
text-align:center;
}

.text-transform {
  text-transform: uppercase;
}